.button_color_black {
  background-color: #231F20;
  border: 1px solid #231F20;
  color: white;
}

.button_color_black:hover {
  box-shadow: 0 0 10px black;
}

.button_color_black:active {
  box-shadow: inset 0 0 10px rgb(160, 160, 160);
}
