.button_color_white {
  background: #F7941E;
  color: white;
  border: 1px solid #F7941E;
}

.button_color_black:hover {
  box-shadow: 0 0 10px black;
}

.button_color_black:active {
  box-shadow: inset 0 0 10px black;
}
