.menu_place_footer {
  max-width: 614px;
  margin: 0 auto;
  padding-top: 106px;
  align-items: center;
}

.menu_place_footer .menu__item {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.menu_place_footer .menu__item:first-child {
  margin-right: 80px;
}

.menu_place_footer .menu__item:last-child {
  margin-left: 50px;
}
